.home-page,
.about-page,
.contact-page,
.art-page {
    h1 {
        font-family: 'BellBottom';
        color: #FAB73B;
        font-size: 66px;
        text-align: left;
        animation: bounce 1.2s forwards;
        animation-delay: 1.5s;
        width:20%;
        padding-left: 7vw;
    }

    .text-zone {
        vertical-align: middle;
        display: table-cell;
        width: 90vw;

        p {
            font-size: 28px;
            font-family: 'Retro';
            text-align:center;
            padding-left: 10vw;
        }
    }
}

.container {
    width: 100%;
    will-change: contents;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}