.page-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 25px;


    .text-zone1 {
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        img {
            width: 275px;
            height: 275px;
            margin: 0 50px 0 0px;
            border-radius: 10px;
            animation: slideInLeft 1.5s forwards;
        }

        .text1 {
            width: 400px;
            font-size: 20px;
            padding: 0;
            margin: 0;
            letter-spacing: .5px;
            color: #fefefe;
            font-family: 'CoolveticaRg';
            animation: pulse 1s 1.1s;

            h2 {

                font-family: 'CoolveticaRg';
                margin: 0 !important;
            }

            .entry {
            letter-spacing: 1px;
            }

            .insta-link {
                text-decoration: none;
                color: #573886;
                font-size: 20px;
                font-weight: 600;

                &:hover {
                    color: #C6B1D7;
                }
            }
        }
    }

    .text-zone2 {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;

        .text2 {
            width: 400px;
            font-size: 22px;
            color: #573886;
            padding: 0;
            margin: 50px 0 0 0;
            text-align: right;
            font-family: 'CoolveticaRg';
            animation: pulse 1.2s forwards;
            animation-delay: .8s;
            letter-spacing: .5px;
        }

        img {
            width: 275px;
            height: 275px;
            margin: 0 0 0 50px;
            border-radius: 10px;
            animation: slideInRight 1.5s forwards;
        }
    }
}

@media screen and (max-width: 600px) {
    .page-contents {
        margin-top: 0 !important;
    }
    .text-zone1 {
        padding: 0 !important;
        margin: 0 0 0 0 !important;
        justify-content: center;
        align-items: center;

        img {
            width: 425px !important;
            height: 425px !important;
            padding: 0 0 0 0 !important;
            margin-bottom: 0px;
            margin-right: 0 !important;
        }

        .text1 {
            width: 90vw !important;
            font-size: 20px;
            padding: 0;
            margin: 15px 0 0 0 !important;
            font-family: 'Retro';

            h2 {
                margin: 0 !important;
            }
        }
    }

    .text-zone2 {
        padding: 20px 0 0 0 !important;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        margin: 0px 0 0 0 !important;

        img {
            width: 425px !important;
            height: 425px !important;
            padding: 0 0 0 0 !important;
            margin-bottom: 0px;
            margin-left: 0 !important;
        }

        .text2 {
            width: 90vw !important;
            font-size: 20px;
            padding-top: 0px;
            margin: 15px 0 0 0 !important;
            font-family: 'Retro';
        }
    }
}