.text-zone {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .brand-statement {
        font-size: 100px;
        margin-top: -25px;
        font-family: 'Alata';
        font-weight: 300;
        font-style: italic;
        color: #307473;

    .handwriting {
        width: 250px;
        position: relative;
        top: 80px;
        padding: 0 0 0 20px;
    }
    }

}