.text-zone {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

    .handwriting {
        width: 220px;
        padding-top: 20px;
        transform: rotate(-5deg);
        animation: fadeIn 2s forwards;
        display: none;
    }
}

.overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
}

.brand-statement {
    display: none;

    .text-animate {
        animation: fadeInUp 2s forwards !important;
    }

    .text-animate-hover {
        &:hover {
            color: #f1f1f1 !important;
        }
    }


    @for $i from 1 through 26 {
        .text-animate._#{$i} {
            animation-delay: #{calc($i / 15)}s !important;
        }
    }
}

.link-text {
    font-family: 'CoolveticaRg';
    letter-spacing: 1px;
    color: #444;
    font-size: 40px !important;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .handwriting {
        display: none !important;
    }

    .photo-carousel {
        height: 600px;
        animation: fadeIn 2s forwards !important;
    }

    .home-page {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        animation: fadeIn 2s forwards;

        .brand-statement {
            display: flex !important;
            width: 100vw;
            height: 100px;
            align-self: center;
            justify-self: center;
            justify-content: center;
            padding-bottom: 50px;

            h1 {
                width: 80vw !important;
                font-size: 45px !important;
                font-family: 'BellBottom';
                font-weight: 100;
                letter-spacing: 0px;
                color: #f1f1f1;
                padding-top: 20px;

                .text-animate-hover {
                    &:hover {
                        color: #815db8;
                    }
                }
            }
        }
    }
}