.page {
  padding-bottom: 2vw;

  #pageWrap {
    text-align: center;
    overflow: auto;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    font-family: 'BellBottom';
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.2s;
    padding: 10px;

    a {
      color: #307473;

      &:hover {
        color: #C16200;
      }
    }
  }

  a:-webkit-any-link {
    text-decoration: none;
    font-size: 28px;
  }

  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }

  /* The rest copied directly from react-burger-menu docs */

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 180px;
    top: 80px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #573886;
    border-radius: 5px;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    display: none;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #FAB73B;
    padding: 2.5em 3.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  //  .bm-overlay {
  //     background: transparent !important;
  //  }
  /* Wrapper for item list */
  .bm-item-list {
    color: #573886;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;

    .logo-container {
      padding: 10px;
      animation: fadeIn 1.5s forwards;

    }

    a {
      width: 355px;
      display: flex;
      text-decoration: none;

      img {
        width: 100px;
        height: 100px;
        margin-right: 0px;
        padding-top: 15px;
        animation-fill-mode: forwards;

        &:hover {
          animation: bounce 1s;
        }
      }

      h1 {
        font-family: 'BellBottom';
        font-weight: 100;
        width: 355px;
        font-size: 45px;
        text-align: left;
        color: #573886;
        // text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 40px;

        .text-animate-hover {
          &:hover {
            color: #815db8;
          }
        }
      }

      .lilac {
        color: #C6B1D7;

        .text-animate-hover {
          &:hover {
            color: #bc9cd5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
    .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 30px !important;
    top: 63px !important;
  }
}