.page {

.menu {
    animation: slideInRight 1s forwards;
    background-color: #FAB73B;

    ul{
    list-style-type: none;
    li{
        font-family: 'Retro';
        font-size: 20px;
        text-align: center;
        a {
            text-decoration: none;
        }
    }
    }
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;

    .mobileNav {
        display: none;
    }

    .logo-container {
        a {
            width: 20%;
            display: flex;
            text-decoration: none;

            img {
                width: 80px;
                height: 80px;
                margin-right: 0px;
                padding-top: 8px;
                animation: fadeIn 1.5s forwards;
            }

            h1 {
                font-family: 'BellBottom';
                font-weight: 100;
                width: 25px;
                font-size: 36px;
                text-align: left;
                color: #573886;
                // text-transform: uppercase;
                letter-spacing: -1px;
                line-height: 30px;
                animation: fadeInDown 1.5s forwards;
            }

            .lilac {
                color: #C6B1D7;
            }
        }
    }

    .desktopNav {
        justify-content: center;
        padding: 50px;
        animation: fadeInDown 1.2s forwards;
        animation-delay: .1s;

        a {
            text-align: center;
            font-size: 30px;
            padding: 25px;
            font-family: 'BellBottom';
            font-weight: 100;
            text-decoration: none;
            color: #307473;


            &:hover {
                // color: #61988E;
                color: #C16200;
            }
        }

        a.active {
            color: #C16200;
            // &:hover {
            //     color: #307473;
            //     // color: #C16200;
            // }
        }
    }
}
}
@media screen and (max-width: 900px) {
    .desktopNav {
        display: none;
    }

    .mobileNav {
        display: flex !important;
        justify-content: center;
        padding-right: 10vw;

        button {
            background-color: transparent;
            border: none;
            width: 25px;
            font-size: 35px;
        }
    }
}