.categories {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .patches {
        width: 25vw;

    }

    .shorts {
        width: 25vw;

    }

    .paintings {
        width: 25vw;
    }

    .shirts {
        width: 25vw;
    }

    .category-container,
    .category-container-alt {
        display: flex;
        flex-direction: column;
        width: 25vw;
        height: 83vh;
        justify-content: space-between;
        transition: transform .2s;

        h2 {
            font-family: 'CoolveticaRg';
            letter-spacing: 1.5px;
            font-size: 56px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }


.cat4 {
    animation: pulse 1s 1s;
}

.cat1 {
    animation: pulse 1s 1.2s;
}

.cat2 {
    animation: pulse 1s 1.4s;
}

.cat3 {
    animation: pulse 1s 1.6s;
}

    .category-container {
        background-color: #573886;

        h2 {
            text-align: center;
            color: #C6B1D7;
        }
    }

    .category-container-alt {
        background-color: #C6B1D7;

        h2 {
            text-align: center;
            color: #573886;
        }
    }
}

@media screen and (max-width: 600px) {
    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;

        .patches {
            width: 25vh;

        }

        .shorts {
            width: 25vh;

        }

        .paintings {
            width: 25vh;
        }

        .shirts {
            width: 25vh;
        }

        .category-container,
        .category-container-alt {
            display: flex;
            flex-direction: row;
            width: 100vw;
            height: 22.5vh;
            justify-content: space-between;

            h2 {
                font-family: 'CoolveticaRg';
                letter-spacing: 1.5px;
                align-self: center;
                font-size: 32px;
            }
        }

        .category-container {
            background-color: #573886;

            h2 {
                margin-right: 25px;
                color: #C6B1D7;
            }
        }

        .category-container-alt {
            background-color: #C6B1D7;

            h2 {
                margin-left: 25px;
                color: #573886;
            }
        }
    }
}